[Unit]
Description=AICCU (Automatic IPv6 Connectivity Configuration Utility)
Wants=network.target network-online.target
After=network.target network-online.target ntpdate.service

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/aiccu
ExecStart=/usr/sbin/aiccu start $OPTIONS
ExecStop=/usr/sbin/aiccu stop
PIDFile=/run/aiccu.pid
Restart=always
RestartSec=300

[Install]
WantedBy=multi-user.target
